<%- include('../partials/header') %>
    <h1><%=title%></h1>   
    <p>
     Some of my favorite books are To kill a Mockingbird, 1984, and Animal Farm.

    </p>
    <p><img src = "/public/images/Animal.jpg"></p>
    <p><img src = "/public/images/1984.jpg"></p>
    <p><img src = "/public/images/TKAM.jpg"></p>
<%- include('../partials/footer') %>