<%- include('../partials/header') %>
    <h1><%=title%></h1>   
    <p> 
        Some of my hobbies includes video games, reading, and also exercising.
    </p>
    <p><img src = "/images/starcraft.jpg"></p>
    <p><img src = "/images/book.jpg"></p>
<%- include('../partials/footer') %>