<%- include('../partials/header') %>
    <h1><%=title%></h1>   
    <p>Clever content goes here</p>
    <p>Clever content goes here</p>
    <p>Clever content goes here</p>
    <p>Clever content goes here</p>
    <p>Clever content goes here</p>
<%- include('../partials/footer') %>

<div class="container">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>johnd@example.com</td>
            </tr>
            <tr>
                <td>Jane</td>
                <td>Doe</td>
                <td>janed@example.com</td>
            </tr>
            <tr>
                <td>Judy</td>
                <td>Doe</td>
                <td>judyd@example.com</td>
            </tr>
        </tbody>
    </table>
</div>
